<footer class="footer">

  <div class="container-fluid col-md-12">
    <br>

    <div class="span3 col-md-4">

      <p><strong> Excellerent Solutions Inc.</strong>
      <p>
      <p><a href="#">About us</a></p>
      <p><a href="#">Contact & support</a></p>

    </div>

    <div class="span3 col-md-4">

      <p><strong>More</strong>
      <p>
      <p><a href="#">Add one item</a></p>
      <p><a href="#">Add another item</a></p>

    </div>

    <div class="span3 col-md-4">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy</a>
      <a href="#">Security</a>
    </div>

  </div>

  <hr>
  <div class="span3 pull-right">
    <p class="muted" style="color:green">© 2017 Excellerent Solutions Inc.. All rights reserved</p>
  </div>


</footer>
